@model URent.Models.SearchViewModel

@{
    ViewBag.Title = "Rent your Car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Choose the date and the category.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.DateDeparture, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.DateDeparture, new { @class = "form-control", @style = "width:118px", @id = "txtDateDeparture", @placeholder = "DD/MM/YYYY" })
        </div>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.TimeDeparture, new SelectList(Model.ListTimeDeparture))
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateReturn, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.DateReturn, new { @class = "form-control", @style = "width:118px", @id = "txtDateReturn", @placeholder = "DD/MM/YYYY" })
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.TimeReturn, new SelectList(Model.ListTimeReturn))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ListCategory, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.ListCategory, "CategoryId", "Name"))
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#txtDateDeparture, #txtDateReturn").datepicker(
                {
                    dateFormat: 'dd/mm/yy'
                });
        });

        $(function () {
            $.validator.methods.date = function (value, element) {
                if ($.browser.webkit) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                }
                else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };
        });
    </script>
}