@model IList<URent.Models.Model.List.Reservation>

@{
    ViewBag.Title = "My reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Reservation Date</th>
                    <th>Category</th>
                    <th>Departure date</th>
                    <th>Return date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
            {
                    <tr>
                        <td>@obj.ReservationId</td>
                        <td>@obj.DateReservation.ToShortDateString()</td>
                        <td>@obj.Category</td>
                        <td>@obj.DateStartRent</td>
                        <td>@obj.DateReturnRent</td>
                        <td>@obj.StatusName</td>
                        <td>
                            @if (obj.Status == 1)
                            {
                                <button class="btn btn-large btn-primary" data-id="@obj.ReservationId" data-delay="@obj.CancelDelay">Cancel</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
    <script>
        $(".btn").click(function () {
            var id = $(this).data('id');
            var delay = $(this).data('delay');
            $.confirm({
                title: (delay=='True' ? 'Cancellation fees will be charged from you!' : 'This will cancel your reservation!'),
                content: 'Do you want to continue?',
                buttons: {
                    confirm: function() {
                        $.post('@Url.Action("Cancel", "Home")', { id: id }, function (data) {
                            location.reload();
                        });
                    },
                    cancel: function() {
                    }
                }
            });
        });
    </script>
}