@model URent.Models.Model.Order

@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<br /><br />
<div class="row">
    <div class="col-md-4"><b>Departure Date:</b> @Model.DateDeparture</div><br /><br />
    <div class="col-md-4"><b>Return Date:</b> @Model.DateReturn</div><br /><br />
    <div class="col-md-4"><b>Car's category:</b> @Model.Category.Name</div><br /><br />
</div>
<hr />
@foreach (var day in Model.OrderPrice)
{
    <div class="row">
        <div class="col-md-4"><b>Date:</b> @day.RentDate - @day.Price.ToString("C")</div><br /><br />
    </div>
}
<div class="row">
    <div class="col-md-4"><b>Total car:</b> @Model.TotalCar.ToString("C")</div>
</div>
<hr />
@if (Model.Options != null && Model.Options.Count > 0)
{
    foreach (var op in Model.Options)
    {
        <div class="row">
            <div class="col-md-4"><b>Option:</b> @op.Name - @op.Price.ToString("C")</div><br /><br />
        </div>
    }
    <div class="row">
        <div class="col-md-4"><b>Total option:</b> @Model.TotalOption.ToString("C")</div>
    </div>
    <hr />
}
<div class="row">
    <div class="col-md-4"><b>Total rent:</b> @Model.Total.ToString("C")</div>
</div>
<br /><br />

@using (Html.BeginForm("Reservation", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-default" value="Confirm reservation" />
        </div>
    </div>
}
