@model IList<URent.Models.RentViewModel>

@{
    ViewBag.Title = "Listing Rent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title.</h2>


<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Client Name</th>
                    <th>Departure date</th>
                    <th>Return date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
            {
                    <tr>
                        <td>@obj.ReservationId</td>
                        <td>@obj.ClientName</td>
                        <td>@obj.DateDeparture</td>
                        <td>@obj.DateReturn</td>
                        <td>@obj.StatusName</td>
                        <td>
                            @if (@obj.Status == 1)
                            {
                                <button class="btn btn-large btn-primary" data-id="@obj.RentId">Cancel</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
    <script>
        $(".btn").click(function () {
            var id = $(this).data('id');
            $.confirm({
                title: ('Cancellation with no justification will charge the client with additional fees.'),
                content: 'Do you really want to cancel?',
                buttons: {
                    Yes: {
                        text: 'With fee',
                        action: function () {
                            $.post('@Url.Action("Cancel", "AdminHome")',
                                { id: id },
                                function (data) {
                                    location.reload();
                                });
                        }
                    },
                    No: {
                        text: 'With no fee',
                        action: function () {
                            $.post('@Url.Action("Cancel", "AdminHome")',
                                { id: id },
                                function (data) {
                                    location.reload();
                                });
                        }
                    },
                    Abort: function () {
                    }
                }
            });
        });
    </script>
}